@page "/ClaimDetails/{id}"
@page "/ClaimDetails"
@using After_Sales.Model;

@inherits ClaimDetailsBase

@if (claim == null)
{
    <div class="spinner"></div>
}
else
{

     <div class="row justify-content-center m-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                <div class="card-body">

                   <h2>@claim.Subject</h2>
                   <hr />
                   <p>@product.ProductName</p>

                   
                    </div>
                </div>
            </div>
   
  </div>
  @if(isAdmin){
  <div class="col-md-3">
    <MatCard class="demo-mat-card">
           
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                       Add Intervention 
                       </MatHeadline6>
                   
                       <EditForm Model="@intervention" OnValidSubmit="createIntervention">
    <hr/>
   @* <div class="form-group row">      
                         <MatTextField @bind-Value="intervention.fees" 
                          FullWidth="true"
                         TextArea="true"
                         Label="Fees" 
                         HelperTextPersistent="true" 
                         HelperTextValidation="true">
                     </MatTextField>
             </div>*@
               <div class="form-group row">

                            <MatSelect Label="Spare Part" @bind-Value="@intervention.SparePartId" Disabled=@claim.ClaimStatus>

                                @foreach (var s in SpareParts)
        {
            <MatOption Value="@s.SparePartId">@s.SparePartName</MatOption>
        }
    </MatSelect >
            </div>
           
               <div>
                            <MatCheckbox @bind-Value="@intervention.Warranty" Label="@(getLabel(intervention.Warranty))" Disabled=@claim.ClaimStatus></MatCheckbox>
        </div>
         <div class="form-group row">
                <MatButton Type="button"
                                   @onclick="@(() => GetTotalFee(@intervention.SparePartId))" Disabled=@claim.ClaimStatus>
                Get Total Fee
            </MatButton>
                </div>
                <div class="form-group row">
                        @if (claim.ClaimStatus)
                        {
                            <p style="margin-left:35%; margin-top: 25px; color: red">
                                @fee
                            </p>

                        }
                        @if (!claim.ClaimStatus)
                        {
                            <p style="margin-left:35%; margin-top: 25px; color: red">
                                @intervention.fees
                            </p>

                        }
                           
                    
                </div>
             <br />
                        <MatIconButton type="submit" class="button" Disabled=@claim.ClaimStatus>
            <MatIcon>@MatIconNames.Touch_app</MatIcon>
        </MatIconButton>
</EditForm>
           
               

            
        </MatCard>
  
  </div>
        }
</div>
   
}